<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"">

  </head>
  <style>
  body {
    background-image: url("bgdesert.jpg");
  }
  </style>
    <nav class=""navbar navbar-light" style="background-color: #e3f2fd;">

  <center>    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" width="150" height="100" src="{{url_for('static',filename='altaf.jpg')}}" alt="profile_pic"></center><br>
</br>
      </a>
     <button class="navbar-toggler"  data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">

      </button>

    <li class="nav-item">
      <a class="nav-link" href="#about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#education">Education</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#experience">Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#skills">Skills</a>
    </li>

</nav>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
  <h4 id="about">About</h4>
  <p>    <p><l1><br><div><div class="jumbotron">
      <span class="border"></span>
<span class="border-top"></span>
<span class="border-right"></span>
<span class="border-bottom"></span>
<span class="border-left"></span>
<header> DATA ANALYST</header>
Motivated,teamwork-oriented,and esponsible Data Analyst with significant experience in increasing comprehension of
reports and presentations by the average professional.Highly educated,possessing a Bachelor's and professional certification.
</l1></br></div></div></p>
  <h4 id="education">Education</h4>
  <p><style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body><div class="jumbotron">
  <span class="border"></span>
<span class="border-top"></span>
<span class="border-right"></span>
<span class="border-bottom"></span>
<span class="border-left"></span>
  <table style="width:200%"></table>

    <table style="width:100%"></table>
<table>
  <table style="width:100%">
        <tr>
            <th>Course</th>
            <th>School/College</th>
            <th>Year of passing</th>
            <th>Percentage</th>
        </tr>
        <tr>
            <td>B.E</td>
            <td>PDA College of Engineering</td>
            <td>2020</td>
            <td>80%</td>
        </tr>
        <tr>
            <td>12th</td>
            <td>Al Ameen PU college Banglore</td>
            <td>2016</td>
            <td>88%</td>
        </tr>
        <tr>
            <td>10th</td>
            <td>Divine High School</td>
            <td>2014</td>
            <td>81%</td>
        </tr>
    </table>
  </div>

</table></div></p>
  <h4 id="experience">Experience</h4>
  <p><div><div class="jumbotron">
<h1><p><b style="font-size:30px></b>"<h18 style="color:blue">Innomatics research labs</b></h1><br>
<h1><b style="font-size:25px">Internship Duration-2 months</b><br>
<b style="font-size:20px">Location-Hyderabad, Telangana, India</b><br></h1></p>
</div></div>
</p>


<h4 id="skills">Skills</h4>
<p><div class="jumbotron">
        <ul>
          <li><table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Technical skills</th>
      <th scope="col">Soft skills</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Python</td>
      <td>Creative</td>
    </tr>
    <tr>
      <td>Machine learning</td>
      <td>Inutiative</td>
    </tr>
    <tr>
      <td>Sql</td>
      <td>Teamwork</td>
    </tr>
  </tbody>
</table>
</p>
<div class="jumbotron">
  <blockquote class="blockquote text-center">
  <p class="mb-0">Without Data you're just another person with opinion.</p>
  <footer class="blockquote-footer">By <cite title="Source Title">w.Edward dewing</cite></footer>
</blockquote>
<h4 id="contact">Contact</h4>
<p>
<b style="font-size:20px"><b style="color:blue">S/o</b>-<b style="font-size:20px">
  <b style="color:green">Altaf Ansari</b></b><br>
<b style="font-size:20px"><b style="color:blue">Address</b></b>-<b style="font-size:20px">
  <b style="color:green"> Sangtrashwadi,
    <br>Darga road,Kalaburagi,Karnataka-585102</b></b><br>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<i class="fa fa-phone" ><b style="font-size:20px">+91-9108778332</b></i>
<br>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
<span class="border"></span>
<span class="border-top"></span>
<span class="border-right"></span>
<span class="border-bottom"></span>
<span class="border-left"></span>
.fa {
  padding: 15px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;

}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
</style>
  <p>Also available at</p>
  <a href="https://mail.google.com/altafansaripda@gmail.com" class="fa fa-google"></a>
  <a href="https://www.linkedin.com/in/altaf-ansari309/" class="fa fa-linkedin"></a>
  </div></p>
</div>
